@media(max-width:1064px){
    .device-image h1, .device-image p {
        text-align: center;
    }
}


@media(max-width:764px){
    .menulateral{
        display: block;
        background: transparent;
        cursor: pointer;
        border: 0;
    }

    .menulateral img{
        width: 20px;
    }
    .menu{
        height: 0;
        transition: 0.6s;
        width: 100%;
        background-color: #16213D;
        color: #fff;
        display: block;
        visibility: hidden;
        top: 101px;
        position: fixed;
        right: 0px;
        z-index: 1000;
        overflow-y: hidden;
    }

    header{
        top: 0;
        right: 0;
        position: fixed;
    } 
    
    #nav.active .menu{
        visibility: visible;
        height: calc(100vh - 101px);
        overflow: hidden;
    }
}

@media (max-width: 1080px) {
    .device-image div {
        display: contents;
        text-align: center;
    }
}